<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arcus | Personal Portfolio Template</title>
  <!---------------------- Favicon Link ------------------------>
  <link rel="icon" type="image/x-icon" href="images/Favicon/favicon7.webp">
  <!--------------------------- Bootstrap CSS Link -------------------------------->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <!--------------------------- Fontawesome Link -------------------------------->
  <link rel="stylesheet" type="text/css" href="css/icons/css/all.min.css">
  <!--------------------------- Mobirise Link -------------------------------->
  <link rel="stylesheet" type="text/css" href="css/mobiriseicons.css">
  <!--------- Magnific-Popup CSS Link -------->
  <link rel="stylesheet" type="text/css" href="css/magnific-popup.min.css">
  <link rel="stylesheet" type="text/css" href="css/jquery.directional-hover.css">
  <!--------- Owl Carousel CSS Link -------->
  <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="css/owl.theme.css">
  <!-------------- Custom CSS Link------------------>
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <!-- Color Skin -->
  <link rel="stylesheet"  type="text/css" class="alternate-style" title="color-1" href="css/skins/color-1.css">
  <link rel="stylesheet"  type="text/css" class="alternate-style" title="color-2" href="css/skins/color-2.css" disabled>
  <link rel="stylesheet"  type="text/css" class="alternate-style" title="color-3" href="css/skins/color-3.css" disabled>
  <link rel="stylesheet"  type="text/css" class="alternate-style" title="color-4" href="css/skins/color-4.css" disabled>
  <link rel="stylesheet"  type="text/css" class="alternate-style" title="color-5" href="css/skins/color-5.css" disabled>
  <link rel="stylesheet" type="text/css"  href="css/style-switcher.css">
</head>
<body class="side-header" data-bs-spy="scroll" data-bs-target="#navbarNav" data-bs-offset="1">
    <!-- preloader start -->
    <div class="loader"></div>
    <!-- preloader end --> 

    <!--------- Nav Starts Here --------->
    <nav class="navbar default-nav fixed-top navbar-expand-lg navbar-dark nav-overlay">
        <div class="container-fluid">
            <a class="navbar-brand pt-0" href="home">
                <img src="images/Logo/logo-light.webp" class="img-fluid logo-light">
                <img src="images/Logo/logo-dark.webp" class="img-fluid logo-dark">
            </a>

            <!--------- Nav Collapsed Button --------->
            <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon top-bar"></span>
                <span class="toggler-icon middle-bar"></span>
                <span class="toggler-icon bottom-bar"></span>
            </button>

            <!--------- Navbar Nav-Link --------->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link smooth-scroll active" aria-current="page" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smooth-scroll" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smooth-scroll" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smooth-scroll" href="#portfolio" id="portfoliobtn">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smooth-scroll" href="#blog" id="blogging">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smooth-scroll" href="#contact">Contact</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--------- Nav Ends Here --------->         
    <!--------- Home-Section Starts Here --------->
    <section class="home-section section bg-img d-flex align-items-center text-center" id="home">
        <!--------- Hero Starts Here --------->     
        <div class="container px-4 py-5 my-5 text-center">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center text-header mx-auto">
                        <h4>Welcome</h4>
                        <h1 class="home-text text-white text-capitalize display-5">I'M <span class="typed-text fw-bold"></span><span class="cursor">&nbsp;</span></h1>
                        <p class="lead mb-4">Good Design is Good Business</p>
                        <div class=" gap-2 d-sm-flex justify-content-sm-center pt-2">
                            <a href="" class="btn btn-outline-custom btn-round">Download CV</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <a href="#about" class="indicator"></a>
            </div> 
        </div>
        <!--------- Hero Ends Here --------->
    </section>
    <!--------- Home-Section Ends Here --------->
    <!--------- About-Section Starts Here --------->
    <section class="about-section section" id="about">
        <div class="container mt-2 mb-5">
        
            <div class="section-title">
                <h2 data-heading="main info">About Me</h2>
                <div class="section-line"></div>
            </div>
        
            <div class="row align-items-center about-container">
                <div class="col-lg-6">
                    <div class="mt-3">
                        <img src="images/Cover/A2.webp" alt="" class="img-class mx-auto d-block img-thumbnail">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text">
                        <h4 class="fw-bold">Ola!</h4>
                        <h5 class="about-text-intro fw-bold mt-1">My name is Jon Snow and I'm a <span class="about-typed-text"></span><span class="cursor">&nbsp;</span></h5> 
                        <p class="text-muted mt-3">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Nisi, qui eum possimus, veritatis accusantium dignissimos architecto nihil ea magnam repellendus culpa id,
                            deleniti hic amet iure! Maxime nulla id accusantium cupiditate? 
                        </p>
                        <p class="text-muted mt-0">
                            Ipsam tempore odit consectetur asperiores totam enim commodi?
                            Enim nemo aperiam veritatis nostrum ducimus, corrupti molestiae facere.
                        </p>
                    </div>
                    <!-- Social Media Links -->
                    <div class="social-links mt-5">
                        <h5 class="fw-bold">Follow Me</h5>
                        <div class="border"></div>
                        <div class="social-media-buttons">
                            <a href=""><i class="fab fa-facebook"></i></a>
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <!-- Social Media Links -->
                </div>
            </div>
            <!-- About Tabs Start -->
            <div class="row mt-2 about-tabs">
                <div class="text-center">
                    <span class="tab-item active" data-target=".skills">
                        Skills
                    </span>
                    <span class="tab-item" data-target=".experience">Experiences</span>
                    <span class="tab-item" data-target=".education">Education</span>
                </div>
            </div>
            <!-- About Tabs End -->
            <!-- Skills Tabs Start Here -->
            <div class="skills tab-content active row skill-section">
                <div class="col-12 col-md-6">
                    <div class="single-skill" data-percentage="95">
                        <div class="skill-info">
                            <span class="skill-name">HTML/CSS</span>
                            <span class="skill-percentage" style="margin-right: 17.7px;">95%</span>
                        </div>
                        <div class="progress skill-progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="95" style="width: 95%;"></div>
                        </div>
                    </div>
                    <div class="single-skill" data-percentage="70">
                        <div class="skill-info">
                            <span class="skill-name">JavaScript</span>
                            <span class="skill-percentage" style="margin-right: 17.7px;">70%</span>
                        </div>
                        <div class="progress skill-progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="70" data-value="95%" style="width: 70%;"></div>
                        </div>
                    </div>
                    <div class="single-skill" data-percentage="80">
                        <div class="skill-info">
                            <span class="skill-name">SQL</span>
                            <span class="skill-percentage" style="margin-right: 17.7px;">80%</span>
                        </div>
                        <div class="progress skill-progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80" style="width: 80%;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="single-skill" data-percentage="80">
                        <div class="skill-info">
                            <span class="skill-name">BootStrap</span>
                            <span class="skill-percentage" style="margin-right: 17.7px;">80%</span>
                        </div>
                        <div class="progress skill-progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80" style="width: 80%;"></div>
                        </div>
                    </div>
                    <div class="single-skill" data-percentage="60">
                        <div class="skill-info">
                            <span class="skill-name">Angular Js</span>
                            <span class="skill-percentage" style="margin-right: 17.7px;">60%</span>
                        </div>
                        <div class="progress skill-progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="60" style="width: 60%;"></div>
                        </div>
                    </div>
                    <div class="single-skill" data-percentage="70">
                        <div class="skill-info">
                            <span class="skill-name">React Js</span>
                            <span class="skill-percentage" style="margin-right: 17.7px;">70%</span>
                        </div>
                        <div class="progress skill-progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="70" style="width: 70%;" data-value="70%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Skills Tabs End Here -->
            <!-- Experience Starts Here -->
            <div class="experience tab-content resume-section single-section">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="resume-item">
                            <h5 class="item-title">Jr. UI UX Designer</h5>
                            <span class="item-details">Envato - 2012 to 2016</span>
                            <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quo repudiandae.</p>
                        </div>
                        <div class="resume-item">
                            <h5 class="item-title">Jr. Web Designer</h5>
                            <span class="item-details">Themeforest - 2017 to 2018</span>
                            <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quo repudiandae.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="resume-item">
                            <h5 class="item-title">Photographer</h5>
                            <span class="item-details">Adobe Academy - 2019 to 2021</span>
                            <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quo repudiandae.</p>
                        </div>
                        <div class="resume-item">
                            <h5 class="item-title">Data Analytics</h5>
                            <span class="item-details">Top Secret - 2021 to 2022</span>
                            <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quo repudiandae.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Experience Ends Here -->
            <!-- Education Starts Here -->
            <div class="resume-section single-section tab-content education">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="resume-item">
                            <h5 class="item-title">Computer Science</h5>
                            <span class="item-details">Oxford University - 2004 to 2007</span>
                            <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quo repudiandae.</p>
                        </div>
                        <div class="resume-item">
                            <h5 class="item-title">Bachelor Degree</h5>
                            <span class="item-details">Catholic University - 2008 to 20012</span>
                            <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quo repudiandae.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="resume-item">
                            <h5 class="item-title">Master Degree</h5>
                            <span class="item-details">Stanford University - 2013 to 2015</span>
                            <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quo repudiandae.</p>
                        </div>
                        <div class="resume-item">
                            <h5 class="item-title">Doctorate Degree</h5>
                            <span class="item-details">International University - 2016 to 2018</span>
                            <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quo repudiandae.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Education Ends Here -->
        </div>
    </section>
    <!--------- About-Section Ends Here --------->
    <!--------- Service-Section Starts Here --------->
    <section class="service-section section bg-light" id="services">
        <div class="container mt-2">

            <div class="section-title">
                <h2 data-heading="Services">Why choose me?</h2>
                <div class="section-line"></div>
            </div>

            <div class="row gy-4 pb-5">
                    <div class="col-sm-6 col-lg-4">
                    <div class="text-center services-boxes p-4 mt-4">
                        <div class="services-boxes-icon">
                            <i class="mbri-code"></i>
                        </div>
                        <div class="mt-2">
                            <h5 class="mb-0">Developer</h5>
                            <div class="service-dots">
                                <i class="mbri-more-horizontal"></i>
                            </div>
                            <p class="text-muted mt-2">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis ea similique expedita.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="text-center services-boxes p-4 mt-4">
                        <div class="services-boxes-icon">
                            <i class="mbri-lock"></i>
                        </div>
                        <div class="mt-2">
                            <h5 class="mb-0">Cyber Security</h5>
                            <div class="service-dots">
                                <i class="mbri-more-horizontal"></i>
                            </div>
                            <p class="text-muted mt-2">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis ea similique expedita.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="text-center services-boxes p-4 mt-4">
                        <div class="services-boxes-icon">
                            <i class="mbri-search"></i>
                        </div>
                        <div class="mt-2">
                            <h5 class="mb-0">Data Analytics</h5>
                            <div class="service-dots">
                                <i class="mbri-more-horizontal"></i>
                            </div>
                            <p class="text-muted mt-2">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis ea similique expedita.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="text-center services-boxes p-4 mt-4">
                        <div class="services-boxes-icon">
                            <i class="mbri-website-theme"></i>
                        </div>
                        <div class="mt-2">
                            <h5 class="mb-0">Web Design</h5>
                            <div class="service-dots">
                                <i class="mbri-more-horizontal"></i>
                            </div>
                            <p class="text-muted mt-2">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis ea similique expedita.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="text-center services-boxes p-4 mt-4">
                        <div class="services-boxes-icon">
                            <i class='mbri-database'></i>
                        </div>
                        <div class="mt-2">
                            <h5 class="mb-0">Database Manager</h5>
                            <div class="service-dots">
                                <i class="mbri-more-horizontal"></i>
                            </div>
                            <p class="text-muted mt-2">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis ea similique expedita.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="text-center services-boxes p-4 mt-4">
                        <div class="services-boxes-icon">
                            <i class="mbri-camera"></i>
                        </div>
                        <div class="mt-2">
                            <h5 class="mb-0">Photographer</h5>
                            <div class="service-dots">
                                <i class="mbri-more-horizontal"></i>
                            </div>
                            <p class="text-muted mt-2">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis ea similique expedita.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------- Service-Section Ends Here --------->
    <!--------- Counter-Section Starts Here --------->
    <section class="counter-section bg-white bg-img-2" id="count">
        <div class="container">
            <div class="mt-0">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <div class="text-center">
                            <div class="counter-icon">
                                <i class="mbri-clock"></i>
                            </div>
                            <h4 class="text-12 text-muted mb-0"><span class="counter" data-count="10">0</span></h4>
                            <p class="mb-0">Years of Experiance</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="text-center">
                            <div class="counter-icon">
                                <i class="mbri-smile-face"></i>
                            </div>
                            <h4 class="text-12 text-muted mb-0"><span class="counter" data-count="60">0</span></h4>
                            <p class="mb-0">Satisfied Clients</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 pad">
                        <div class="text-center">
                            <div class="counter-icon">
                                <i class="mbri-delivery"></i>
                            </div>
                            <h4 class="text-12 text-muted mb-0"><span class="counter" data-count="20">0</span></h4>
                            <p class="mb-0">Accomplished Projects</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 pad">
                        <div class="text-center">
                            <div class="counter-icon">
                                <i class="mbri-hot-cup"></i>
                            </div>
                            <h4 class="text-12 text-muted mb-0"><span class="counter" data-count="15">0</span></h4>
                            <p class="mb-0">Cups Of Coffe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </section>
    <!--------- Counter-Section Ends Here --------->
    <!--------- Portfolio-Section Starts Here --------->
    <section class="portfolio-section section" id="portfolio">
        <div class="container">
            <div class="section-title">
                <h2 data-heading="Portfolio">My Work</h2>
                <div class="section-line"></div>
            </div>

            <div class="portfolio-filter text-center mb-5">
                <span data-filter="*" class="active">All</span>
                <span data-filter=".web-design"> Web Design</span>
                <span data-filter=".photography">Photography</span>
                <span data-filter=".brands">Brands</span>
            </div>

            <div class="portfolio row mb-3" id="container">
                
                <div class="grid-item col-md-4 web-design mb-4 dh-container">
                  <a class="link" href="images/Portfolio/PO6.webp">
                    <div class="portfolio-box">
                      <div class="dh-overlay text-center fw-bold">Project Title</div>
                      <img src="images/Portfolio/PO6.webp" alt="">
                    </div>
                  </a>
                </div>       
                <div class="grid-item col-md-4 brands mb-4 dh-container">
                  <a class="link" href="images/Portfolio/PO7.webp">
                    <div class="portfolio-box">
                      <div class="dh-overlay text-center fw-bold">Project Title</div>
                      <img src="images/Portfolio/PO7.webp" alt="">
                    </div>
                  </a>
                </div>                
                <div class="grid-item col-md-4 photography mb-4 dh-container">
                  <a class="link" href="images/Portfolio/PO8.webp">
                    <div class="portfolio-box">
                      <div class="dh-overlay text-center fw-bold">Project Title</div>
                      <img src="images/Portfolio/PO8.webp" alt="">
                    </div>
                  </a>
                </div>       
                <div class="grid-item col-md-4 brands mb-4 dh-container">
                  <a class="link" href="images/Portfolio/PO12.webp">
                    <div class="portfolio-box">
                      <div class="dh-overlay text-center fw-bold">Project Title</div>
                      <img src="images/Portfolio/PO12.webp" alt="">
                    </div>
                  </a>
                </div>       
                <div class="grid-item col-md-4 photography mb-4 dh-container">
                  <a class="link" href="images/Portfolio/PO13.webp">
                    <div class="portfolio-box">
                      <div class="dh-overlay text-center fw-bold">Project Title</div>
                      <img src="images/Portfolio/PO13.webp" alt="">
                    </div>
                  </a>
                </div>
                <div class="grid-item col-md-4 web-design mb-4 dh-container">
                  <a class="link" href="images/Portfolio/PO15.webp">
                    <div class="portfolio-box">
                      <div class="dh-overlay text-center fw-bold">Project Title</div>
                      <img src="images/Portfolio/PO15.webp" alt="">
                    </div>
                  </a>
                </div>
            </div>
        </div>
    </section>
    <!--------- Portfolio-Section Ends Here --------->
    <!--------- Testimonial-Section Starts Here --------->
    <section class="client-section section bg-img-3">
        <div class="container">
            <div class="section-title">
                <h2 data-heading="Clients">Review</h2>
                <div class="section-line"></div>
            </div>
            <div class="row">
                <div class="testi-content owl-carousel owl-theme mb-4" id="owl-demo">

                    <div class="slide item">
                        <img src="images/Clients/C1.webp" alt="" class="img-fluid">

                        <p class="text-white mt-2">
                            Lorem Ipsum has been the industry's standard dummy text ever since <br>
                            the when an unknown printer took a galley of type <br>
                        </p>

                        <i class="bx bxs-quote-alt-left quote-icon"></i>

                        <div class="details">
                            <span class="name text-white">John Doe</span>
                            <span class="job text-white">Customer</span>
                        </div>
                    </div>
                    <div class="slide item">
                        <img src="images/Clients/C3.webp" alt="" class="img-fluid">

                        <p class="text-white mt-2">
                            Lorem Ipsum has been the industry's standard dummy text ever since <br>
                            the when an unknown printer took a galley of type <br>
                        </p>

                        <i class="bx bxs-quote-alt-left quote-icon"></i>

                        <div class="details">
                            <span class="name text-white">John Doe</span>
                            <span class="job text-white">Customer</span>
                        </div>
                    </div>
                    <div class="slide item">
                        <img src="images/Clients/C2.webp" alt="" class="img-fluid">

                        <p class="text-white mt-2">
                            Lorem Ipsum has been the industry's standard dummy text ever since <br>
                            the when an unknown printer took a galley of type <br>
                        </p>

                        <i class="bx bxs-quote-alt-left quote-icon"></i>

                        <div class="details">
                            <span class="name text-white">John Doe</span>
                            <span class="job text-white">Customer</span>
                        </div>
                    </div>
                    <div class="slide item">
                        <img src="images/Clients/C4.webp" alt="" class="img-fluid">

                        <p class="text-white mt-2">
                            Lorem Ipsum has been the industry's standard dummy text ever since <br>
                            the when an unknown printer took a galley of type <br>
                        </p>

                        <i class="bx bxs-quote-alt-left quote-icon"></i>

                        <div class="details">
                            <span class="name text-white">John Doe</span>
                            <span class="job text-white">Customer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------- Testimonial-Section Ends Here --------->
    <!--------- Blog-Section Starts Here --------->
    <section class="blog-section section bg-light" id="blog">
        <div class="container">
            <div class="section-title">
                <h2 data-heading="Blog">Latest</h2>
                <div class="section-line"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 mt-3 mb-5">
                    <div class="rounded bg-white p-2">
                        <div class="blog-img">
                            <img src="images/cover/Cover9.webp" alt="" class="img-fluid rounded mx-auto d-block">
                        </div>
                        <div class="blog-content p-3">
                            <div class="blog-header">
                                <h5 class="fw-bold mb-0">
                                    <span class="text-dark">Lorem ipsum dolor sit amet.</span>
                                </h5>
                            </div>
                            <div class="sub-content">
                                <p class="h6 text-muted blog-date mt-3">17 July 2023</p>
                                <p class="mt3 blog-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, dolores!</p>
                                <p class="h6 mb-0"><a href="#" class="fw-bold">Read More...</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-3 mb-5">
                    <div class="rounded bg-white p-2">
                        <div class="blog-img">
                            <img src="images/cover/cover4.webp" alt="" class="img-fluid rounded mx-auto d-block">
                        </div>
                        <div class="blog-content p-3">
                            <div class="blog-header">
                                <h5 class="fw-bold mb-0">
                                    <span class="text-dark">Lorem ipsum dolor sit amet.</span>
                                </h5>
                            </div>
                            <div class="sub-content">
                                <p class="h6 text-muted blog-date mt-3">17 July 2023</p>
                                <p class="mt3 blog-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, dolores!</p>
                                <p class="h6 mb-0"><a href="#" class="fw-bold">Read More...</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-3 mb-5">
                    <div class="rounded bg-white p-2">
                        <div class="blog-img">
                            <img src="images/cover/cover5.webp" alt="" class="img-fluid rounded mx-auto d-block">
                        </div>
                        <div class="blog-content p-3">
                            <div class="blog-header">
                                <h5 class="fw-bold mb-0">
                                    <span class="text-dark">Lorem ipsum dolor sit amet.</span>
                                </h5>
                            </div>
                            <div class="sub-content">
                                <p class="h6 text-muted blog-date mt-3">17 July 2023</p>
                                <p class="mt3 blog-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, dolores!</p>
                                <p class="h6 mb-0"><a href="#" class="fw-bold">Read More...</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------- Blog-Section Ends Here --------->
    <!--------- Contact-Section Starts Here --------->
    <section class="contact-section section" id="contact">
        <div class="container">
            <div class="section-title">
                <h2 data-heading="Contact">Get In Touch</h2>
                <div class="section-line"></div>
            </div>
            <div class="row contact-container">
                <div class="col-12 col-lg-7">
                    <form  action="https://formsubmit.co/" method="post" class="contact-form" id="contact-form">
                        <h4 class="content-title">Message Me</h4>
                        <div class="row">
                            <div class="col-12 col-md-6 form-group">
                                <input class="form-control" id="contact-name" type="text" name="name" placeholder="Name" required="">
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <input class="form-control" id="contact-email" type="email" name="email" placeholder="Email" required="">
                            </div>
                            <div class="col-12 form-group">
                                <input class="form-control" id="contact-subject" type="text" name="subject" placeholder="Subject" required="">
                            </div>
                            <div class="col-12 form-group form-message">
                                <textarea class="form-control" id="contact-message" name="message" placeholder="Message" rows="5" required=""></textarea>
                            </div>
                            <div class="col-12 form-submit">
                                <button class="btn button-main button-scheme" id="contact-submit" type="submit">Send Message</button>
                                <p class="contact-feedback"></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-lg-5 mt-3">
                    <div class="contact-info">
                        <h4 class="content-title">Contact Info</h4>
                        <p class="info-description">Pleasure in the job puts perfection in the work, Feel free to contact me!</p>
                        <ul class="list-unstyled list-info">
                            <li>
                                <div class="media align-items-center">
                                    <span class="info-icon"><i class="mbri-pin"></i></span>
                                    <span class="info-value">1234 Edmonton, London, UK.</span>
                                </div>
                            </li>
                            <li>
                                <div class="media align-items-center">
                                    <span class="info-icon"><i class="mbri-mobile"></i></span>
                                    <span class="info-value"><a href="tel:+441632967704">+44 7154 236918</a></span>
                                </div>
                            </li>
                            <li>
                                <div class="media align-items-center">
                                    <span class="info-icon"><i class="mbri-paper-plane"></i></span>
                                    <span class="info-value"><a href="mailto:emma@example.com">arcus@example.com</a></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------- Contact-Section Ends Here --------->
    <!--------- Footer Starts Here --------->
    <footer>
        <div class="container text-center">
            <div class="row">
                <p>Copy Right 2023 &copy; By Arcus All Rights Reserved</p>
                <div class="social-media-buttons">
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--------- Footer Ends Here --------->
    <!-- Style Switcher -->
    <div class="style-switcher outer-shadow">
        <div class="style-switcher-toggler s-icon outer-shadow hover-in-shadow">
            <i class="fas fa-cog fa-spin"></i>
        </div>

        <h4>Theme Colors</h4>
        <div class="colors">
            <span class="color-1" onclick="setActiveStyle('color-1')"></span>
            <span class="color-2" onclick="setActiveStyle('color-2')"></span>
            <span class="color-3" onclick="setActiveStyle('color-3')"></span>
            <span class="color-4" onclick="setActiveStyle('color-4')"></span>
            <span class="color-5" onclick="setActiveStyle('color-5')"></span>
        </div>
    </div>
    <!-- Style Switcher -->
    <!------------------------- Boostrap Js Link ------------------------------>
    <script src="vendor/bootstrap.bundle.min.js"></script>
    <!------------------------- Jquery Js Link ------------------------------>
    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/jquery.compat.min.js"></script>
    <!---------- Magnific-PopUp Js Link --------->
    <script src="vendor/jquery.magnific-popup.min.js"></script>
    <!------------------------- Isotope Js Link ------------------------------>
    <script src="vendor/isotope.pkgd.min.js"></script>
    <!---------- Owl Carousel Js Link --------->
    <script src="vendor/owl.carousel.js"></script>
    <script src="vendor/owl.carousel.deafult.min.js"></script>
    <!--------- ScrollReveal and SlipHover JS Link --------->
    <script src="vendor/jquery.directional-hover.js"></script>
    <script src="vendor/jquery.scrollreveal.min.js"></script>    
    <!--------- Easing Js Link --------->
    <script src="vendor/jquery.easing.min.js"></script>
    <!--------- Js Link --------->
    <script src="js/loader.js"> </script>
    <script src="js/typed.js"></script>
    <script src="js/style-switcher.js"></script>
    <script src="js/custom.js"></script> 
</body>
</html>